* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.container-fluid {
    padding: 0px;
    width: 100%;

    /* background-color: aquamarine; */
    header.site-header {
        position: fixed;
        top: 0;
        height: 60px;
        background-color: aquamarine;
        width: 100%;

        nav.navbar {
            height: 100%;
            padding: 10px 20px 10px 30px;
            /* The above padding is given in the order top left bottom and right */
            /* padding-left: 20px;
                padding-right: 20px; */

            .logo-img {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;

                img {
                    height: 100%;
                    width: 100%;

                }
            }
        }
    }

    main {
        width: 100%;
        margin-top: 60px;
        padding-bottom: 20px;
        background-color: rgb(255, 255, 255);


        section.image-carousel {
            height: 300px;
            overflow-y: hidden;
            div.carousel {
                height: 100%;

                div.carousel-item {
                    

                    height: 100%;
                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }


        article {
            width: 60%;
            margin: auto;
            text-align: center;
        }

    }



    footer {
        height: 40px;
        /* border: 1px solid; */
        margin: 0;
        width: 100%;
        background-color: rgb(238, 238, 238);
        padding: 10px 20px 10px 20px;

    }
}